@{
    ViewData["Title"] = "Home Page";
    DateTime date = DateTime.Now;

}

<div class="text-center">
    <h1 class="display-4">Welcome CICS!</h1>
    @{
        if(date.Hour >=6 && date.Hour < 12)
        {
            <p>It is Morning</p>
        }
        else if(date.Hour >=12 && date.Hour < 18)
        {
            <p>It is Afternoon</p>
        }
        else
        {
            <p>It is Evening</p>
        }
    }
   <p>@DateTime.Now</p>
</div>
